name: Compatibility Check

on:
    # Cron disabled for now, because there are broken goldens on latest stable & beta due to color changes
    # schedule:
    #   # Run daily at 00:00 UTC
    #   - cron: '0 0 * * *'
    workflow_dispatch:
    push:
      branches:
        - bt/compat-job

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        channel: ['stable', 'beta']

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          ref: bt/compat-job

      - uses: subosito/flutter-action@44ac965b96f18d999802d4b807e3256d5a3f9fa1 # v2.16.0
        with:
          channel: ${{ matrix.channel }}
          cache: true

      - name: Install Dependencies
        run: flutter packages get

      - name: Run tests
        run: flutter test --no-pub --coverage --test-randomize-ordering-seed=random

      - name: Upload failures
        if: failure()
        uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
        with:
          name: "golden_failures_${{ matrix.channel }}"
          path: |
            **/failures/**/*.png

      # - name: Notify failure
      #   if: failure()
      #   uses: slackapi/slack-github-action@37ebaef184d7626c5f204ab8d3baff4262dd30f0 #v1.27.0
      #   with:
      #     payload: |
      #       {
      #         "message": "Heads up! Alchemist compatibility check failed for ${{ matrix.channel }} channel.",
      #         "job_url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
      #       }
      #   env:
      #     SLACK_WEBHOOK_URL: ${{ secrets.MOBILE_OSS_SLACK_WEBHOOK }}
