name: Compatibility Check

# ignore: RiskyTriggers
on:
  schedule:
    # Run daily at 00:00 UTC
    - cron: "0 0 * * *"
  workflow_dispatch:
    inputs:
      alert_failures:
        description: "Whether to alert failures to Slack"
        required: false
        default: true
        type: boolean
      version_override:
        description: "Override the Flutter version to test against"
        required: false
        default: ""
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        channel: ["stable", "beta"]

    steps:

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: bt/update-goldens

      - uses: subosito/flutter-action@e938fdf56512cc96ef2f93601a5a40bde3801046 # v2.19.0
        if: ${{ github.event.inputs.version_override != '' }}
        with:
          channel: ${{ matrix.channel }}
          cache: true

      - uses: subosito/flutter-action@e938fdf56512cc96ef2f93601a5a40bde3801046 # v2.19.0
        if: ${{ github.event.inputs.version_override != '' }}
        with:
          flutter-version: ${{ github.event.inputs.version_override }}
          cache: true

      - name: Install Dependencies
        run: flutter packages get

      - name: Disable animations
        run: flutter config --no-cli-animations

      - name: Run tests
        run: |
          flutter test --no-pub --coverage --test-randomize-ordering-seed=random

      - name: Upload failures
        if: failure()
        uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
        with:
          name: "golden_failures_${{ matrix.channel }}"
          path: |
            **/failures/**/*.png

      - name: Create job URL
        if: failure()
        id: create-job-url
        run: |
          echo "job_url=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}" >> "$GITHUB_OUTPUT"

      - name: Notify failure
        if: failure() && inputs.alert_failures
        uses: slackapi/slack-github-action@b0fa283ad8fea605de13dc3f449259339835fc52 # v2.1.0
        with:
          webhook-type: webhook-trigger
          webhook: ${{ secrets.MOBILE_OSS_SLACK_WEBHOOK }}
          payload: |
            text: "Alchemist smoke tests failed on the ${{ matrix.channel }} channel. Check them out and determine root cause: ${{ steps.create-job-url.outputs.job_url }}"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "Alchemist smoke tests failed on the `${{ matrix.channel }}` channel. Check them out and determine root cause. <${{ steps.create-job-url.outputs.job_url }}|Job URL>"
