name: post-merge

on:
  push:
    branches:
      - 'main'

env:
  FLUTTER_VERSION: 3.16.0

jobs:
  upload_coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          cache: true

      - name: Install Dependencies
        run: flutter packages get

      - name: Run tests
        run: ALCHEMIST_FLUTTER_VERSION=${{ env.FLUTTER_VERSION }} flutter test --no-pub --coverage --test-randomize-ordering-seed=random

      - uses: codecov/codecov-action@v2
        with:
          files: coverage/lcov.info
